.coin {
  height: 40px;
  border-bottom: 1px solid #e1e5ea;
}

.logo {
  height: 20px;
  width: 20px;
  margin-right: 8px;
}

.coinName {
  &:hover {
    text-decoration: underline;
  }
}

.gain {
  color: #009e73;
}

.loss {
  color: #db4b4b;
}
