.base {
  padding: 4px 8px;
  text-align: center;
}

.default {
  color: #000;
  border: 1px solid;
}

.profit {
  background-color: #3d9400;
  color: #fff;
  font-weight: bold;
}

.loss {
  background-color: #a11b0a;
  color: #fff;
  font-weight: bold;
}
